.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #FFB841;
  height: 48px;
  width: 100%;
  z-index: 5;
}

.headerlimit {
  display: flex;
  max-width: 1240px;
  width: 1240px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
}

.container img {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 7px;
  cursor: pointer;
}

.container img:hover {
  transform: scale(1.05);
}

.search {
  width: 712px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background-color: #F5F5F5;
  padding: 4px 12px;
  font-size: 20px;
  font-family: inherit;
}


.settings {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #F5F5F5;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  cursor: pointer;
}

.settings img:hover {
  transform: rotate(30deg);
}

.profilepic {
  display: flex;
  background-color: #F5F5F5;
  height: 32px;
  max-height: 32px;
  padding: 4px;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 1300px) {
  .container {
    display: none;

  }

  .headerlimit {
    display: flex;
    max-width: 834px;
    width: 834px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 24px;
  }
}

@media (max-width: 834px) {
  .container {
    display: none;

  }

  .headerlimit {
    display: flex;
    max-width: 834px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 24px;
  }
}
