.header {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: #FFB841;
  height: 48px;
  width: 100%;
  padding: 0 100px 0 100px;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
}

.container img {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 7px;
  cursor: pointer;
}

.container img:hover {
  transform: scale(1.05);
}

.search {
  width: 712px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background-color: #F5F5F5;
  padding: 4px 12px;
  font-size: 20px;
  font-family: inherit;
}


.settings {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #F5F5F5;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  cursor: pointer;
}

.settings img:hover {
  transform: rotate(30deg);
}
