.sidebar {
  max-width: 216px;
  height: calc(100vh - 94px);
  position: sticky;
  top: 89px;
}

.sidebar {
  display: grid;
}

.navbar {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 13px;
  font-size: 20px;
}

.navbar li {
  padding: 0 9px 0 0px;
  border-radius: 6px;
  align-items: center;
}


.navbar li a {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar li a img {
  margin: 12px 12px 12px 5px;
}


.navbar li:hover {
  background-color: #fff;
}

.pointer {
  background-color: #fff;
}



@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }

}
